body {
    background-color: rgba(15, 15, 15, 0.95); /* más oscuro y semi-transparente */
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: white;
    text-align: center;
    margin: 10px 0;
    background-color: aqua;
}

li {
    color: white;
    list-style: none;
    text-align: center;
}

img {
    height: 100px;
    border-radius: 10px;
    margin: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
}

.card {
    background-color: rgba(255, 255, 255, 0.2); /* blanco semitransparente */
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease;
    backdrop-filter: blur(5px); /* efecto de desenfoque detrás */
}

.card:hover {
    transform: scale(1.1);
    background-color: rgb(207, 207, 207);
}
